body {
  padding: 0%;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.App {
  text-align: center;
  background-color: #121212;
  color: white;
  height: 100vh;
}

nav {
  margin: 0;
  border-bottom: 1px solid dimgray;
  display: grid;
  place-items: center;
  height: 65px;
}

nav h1 {
  margin: 0;
  color: white;
  font-size: 27px;
}

.grid {
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1px;
}

.tile {
  display: inline-block;
  margin: 3px;
  border: 1px solid dimgray;
  background-color: #121212;
  color: white;
  height: 46px;
  line-height: 46px;
  width: 44px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.honeycomb {
  margin-top: 10px;
  background-color: white;
  margin: auto;
  padding: 10px 0;
  width: 255px;
}

.hexagon {  
  display: inline-block;
  background-color: lightgray;
  color: black;
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.required {
  background-color: gold;
}

.emptyspace {
  display: inline-block;
  width: 105px;
}
