body {
  padding: 0%;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #121212;
}

.App {
  text-align: center;
  color: white;
}

nav {
  margin: 0;
  border-bottom: 1px solid dimgray;
  display: grid;
  place-items: center;
  height: 65px;
}

nav h1 {
  margin: 0;
  color: white;
  font-size: 27px;
}

.grid {
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1px;
}

.tile {
  display: inline-block;
  margin: 3px;
  border: 1px solid dimgray;
  background-color: #121212;
  color: white;
  height: 46px;
  line-height: 46px;
  width: 44px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.honeycomb {
  margin-top: 10px;
  background-color: darkgray;
  margin: auto;
  padding: 10px 0;
  width: 100%;
  max-width: 255px; /* Limit width for larger screens */
}

.hexagon {  
  display: inline-block;
  background-color: lightgray;
  color: black;
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.required {
  background-color: gold;
}

.emptyspace {
  display: inline-block;
  width: 40%; /* Adjust width for mobile screens */
}

.emptyspace2 {
  display: inline-block;
  width: 5%; /* Adjust width for mobile screens */
}

.shuffle,
.honeyControl {  
  display: inline-block;
  color: black;
  height: 40px;
  width: 80px;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 40px;
}

.shuffle {
  font-size: 20px; /* Increase font size for better visibility on mobile */
  height: 50px;
  width: 50px;
  line-height: 51px;
}

/* Media Query for mobile screens */
@media (max-width: 600px) {
  .grid {
    width: 90%; /* Adjust grid width for mobile screens */
  }
}
